@import "compass/reset";

$cubegutter: 100px;
$cubewidth: 200px;
$cubecount: 4;

.cubewrapper {
	position: relative;
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% -210px;
	width: $cubewidth * $cubecount + $cubegutter * ($cubecount - 1);
	height: $cubewidth;
	margin: 200px auto;
}
.cube {
	position: absolute;
	width: $cubewidth;
	height: $cubewidth;
	-webkit-transform-style: preserve-3d;
	-webkit-transition:-webkit-transform 1s ease-in-out;
	&.one {
		-webkit-transform: translateX(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	&.two {
		-webkit-transform: translateX($cubewidth * 1 + $cubegutter * 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	&.three {
		-webkit-transform: translateX($cubewidth * 2 + $cubegutter * 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	&.four {
		-webkit-transform: translateX($cubewidth * 3 + $cubegutter * 3) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	.face {
		position: absolute;
		background-color: rgba(0, 255, 0, 0.3);
		// border: 1px solid black;
		width: $cubewidth - 10;
		height: $cubewidth - 10;
		border: 5px solid #FFFFFF;
		line-height: $cubewidth;
		font-size: 40px;
		font-family: Helvetica;
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		&.back {
			-webkit-transform: translateZ(-100px) rotateY(180deg);
			background-color: rgba(0, 255, 0, 0.7);
		}
		&.right {
			-webkit-transform: rotateY(-270deg) translateX(100px);
			-webkit-transform-origin: top right;
			background-color: rgba(255, 0, 0, 0.7);
		}
		&.left {
			-webkit-transform: rotateY(270deg) translateX(-100px);
			-webkit-transform-origin: center left;
			background-color: rgba(0, 0, 255, 0.7);
		}
		&.top {
			-webkit-transform: rotateX(90deg) translateY(-100px);
			-webkit-transform-origin: top center;
			background-color: rgba(255, 255, 0, 0.7);
		}
		&.bottom {
			-webkit-transform: rotateX(-90deg) translateY(100px);
			-webkit-transform-origin: bottom center;
			background-color: rgba(0, 255, 255, 0.7);
		}
		&.front {
			-webkit-transform: translateZ(100px);
			background-color: rgba(255, 0, 255, 0.7);
		}
	}
}